# el repositorio ingora los archivos jpg del directorio est_fotos
appserv/est_fotos/*.jpg
# el repositorio ingora los archivos jpg del directorio fun_fotos
appserv/fun_fotos/*.jpg
# el repositorio ingora los archivos pdf del directorio recibos
weboffice/recibos/*.pdf
# el repositorio ingora los archivos png del directorio documento
weboffice/documento/*.png
# el repositorio ingora los archivos xls del directorio solicitudes
weboffice/documento/solicitudes/*.xls
#Ingora los archivos pdf del directorio funcionarios/certingret
appserv/funcionario/certingret/*.pdf
#Ingora los archivos PDF del directorio funcionarios/certingret
appserv/funcionario/certingret/*.PDF
#Ingora los archivos PDF del directorio funcionarios/certingret
appserv/informes/
#Ingora los archivos PDF
*.PDF
#Ingora los archivos PDF
*.pdf
#Ingora los archivos zip
*.zip
#Ingora directorio CASOS DE USO
appserv/CASOS DE USO/
#Ingora los archivos .log
*.log
#Ingora archivos teminados en ~
*~
#Ingora archivos con extensión .swp
*.swp
#Ingora archivos con extensión excell office
*.xlsx
*.xls
*.doc
*.docx
/academicopro/nbproject/
/appserv/nbproject/
/docencia/nbproject/
/docenciaSara/nbproject/
/FeXPRO/nbproject/
/gefad/nbproject/
/lamasu/nbproject/
/recursosHumanos/nbproject/
/reportePagoUD/nbproject/
/reportes_udistrital/nbproject/
/rfisicos/nbproject/
/saraacademica/nbproject/
/saraadministrativa/nbproject/
/serviciosacademicos/nbproject/
/weboffice/nbproject/
/nbproject/
